.movies-list {
    list-style-type: none;
    padding: 0;
    margin: 40px auto 0;
    width: 300px;
    display: grid;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .movies-list {
        margin: 70px auto 0;
        width: 708px;
        grid-template-columns: repeat(2, 339px);
        column-gap: 30px;
        row-gap: 36px;
    }
}

@media screen and (min-width: 1160px) {
    .movies-list {
        width: 1140px;
        grid-template-columns: repeat(4, 270px);
        column-gap: 20px;
        row-gap: 32px;
    }
}

.movies-list__button-none {
    display: none;
}

.movies-list__button {
    width: 93.75%;
    margin: 80px auto;
    min-height: 36px;
    background-color: #f9f9f9;
    border: none;
    border-radius: 6px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.movies-list__button:hover {
    outline: none;
    opacity: 0.6;
}

@media screen and (min-width: 768px) {
    .movies-list__button {
        width: 708px;
    }
}

@media screen and (min-width: 1140px) {
    .movies-list__button {
        width: 1140px;
    }
}