.about-project {
    padding: 70px 5.625%;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
}

@media screen and (min-width: 768px) {
    .about-project {
        padding: 90px 6.511%;
    }
}

@media screen and (min-width: 1024px) {
    .about-project {
        padding: 100px 5.469%;
    }
}

.about-project__title {
    font-size: 18px;
    line-height: 21.78px;
    text-align: start;
    margin: 0;
    padding: 0 0 28px 0;
    border-bottom: 1px solid black;
}

@media screen and (min-width: 768px) {
    .about-project__title {
        font-size: 22px;
        line-height: 26.63px;
        padding: 0 0 23px 0;
    }
}

.about-proect__block {
    margin: 60px 0;
    display: grid;
    gap: 56px;
}

@media screen and (min-width: 768px) {
    .about-proect__block {
        grid-template-columns: repeat(2, 47.755%);
        gap: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .about-proect__block {
        grid-template-columns: repeat(2, 48.246%);
        gap: 40px;
    }
}

.about-proect__block-text {
    display: grid;
    gap: 16px;
}

@media screen and (min-width: 768px) {
    .about-proect__block-text {
        gap: 22px;
    }
}

@media screen and (min-width: 1024px) {
    .about-proect__block-text {
        gap: 26px;
    }
}

.about-project__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    text-align: start;
}

@media screen and (min-width: 768px) {
    .about-project__subtitle {
        font-size: 20px;
        line-height: 24px;
    }
}

.about-project__text {
    font-size: 11px;
    line-height: 16px;
    margin: 0;
    text-align: start;
}

@media screen and (min-width: 768px) {
    .about-project__text {
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (min-width: 1024px) {
    .about-project__text {
        font-size: 14px;
        line-height: 20px;
    }
}

.about-project__schema {
    display: grid;
    grid-template-columns: 35.211% 64.789%;
    grid-template-rows: repeat(2, 35px);
}

@media screen and (min-width: 1024px) {
    .about-project__schema {
        grid-template-columns: 20% 80%;
        grid-template-rows: repeat(2, 36px);
    }
}

.about-part__part {
    padding: 11px 0;
    font-size: 11px;
    line-height: 13px;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .about-part__part {
        padding: 9px 0;
        font-size: 14px;
        line-height: 17px;
    }
}

.about-project__part_type_backend {
    background-color: #2BE080;
}

.about-project__part_type_frontend {
    background-color: #F2F2F2;
}

.about-part__name {
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #A0A0A0;
    margin: auto 0;
}

@media screen and (min-width: 768px) {
    .about-part__name {
        font-size: 14px;
        line-height: 17px;
    }
}